<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ url_for('static', filename='js/clock.js') }}"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Document</title>

</head>

<body>


  <nav class=" navbar-dark bg-dark" style="margin-bottom:2em ; justify-content:normal;  padding-top:5px;
  padding-bottom:5px;">
    <div class="container" style="justify-content:normal;">
      <div class="row">
        <div class="col" style="display:inline-flex; ">
          <button style="border-style:none;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" style="padding-left:15px;
            display:flex;
          justify-content:normal;
          align-items:center;
          font-weight:700;
          font-size:22px;" href="#">Greenhouse</a>
        </div>

        <div class="col" style="  display:flex; justify-content:flex-end; align-items:center;">
          <div id="clock">--:--:--</div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('users.home')}}">Home</a>
          </li>

          {% if current_user.is_authenticated %}

          <!-- <li class="nav-item"></li>
          <a class="nav-link active" aria-current="page"
            href="{{url_for('users.user', username=current_user.username)}}">Profile</a>
          </li> -->


          <li class="nav-item"></li>
          <a class="nav-link active" aria-current="page" href="{{url_for('real_time.real_time_page')}}">Real Time</a>
          </li>
          <!-- <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('products.products')}}">Products</a>
              </li> -->

          <!-- <li class="nav-item">
                 <a class="nav-link active" aria-current="page" href="{{url_for('tasks.tasks')}}">My tasks</a> 
              </li> -->

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_user.username}}
            </a>
            <ul class="dropdown-menu">
              <!-- <li><a class="dropdown-item" href="{{url_for('users.reset_password', username=current_user.username)}}">Reset password</a></li> -->
              <li><a class="dropdown-item" href="{{url_for('users.logout')}}">Logout</a></li>

              {% else %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('users.login')}}">Login</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('users.register')}}">Register</a>
              </li>
              {% endif %}

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  {% block content %}


  {% endblock %}


</body>

</html>