{% extends "base.html" %}
{% block content %}

<div class="container" >
    <h1>Edit product - {{product.name}} <img src="{{product.main_photo}}" width="50px" alt=""></h1>

    <form method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}} 
        {{form.user_id(type ="hidden", value = current_user.id)}}
        {{form.owner(type ="hidden", value = current_user.username)}}
        {{form.name.label}}<br>{{form.name(class="form-control",value=product.name)}}<br>
        {{form.description.label}}<br>{{form.description(class="form-control", value=product.description)}}<br>
        {{form.part_id.label}}<br>{{form.part_id(class="form-control", value= product.part_id)}}<br>
        <label for="">New image</label><br><input type = "file" name = "file" class="form-control")/><br>
        {{form.status.label}}<br>{{form.status(class="form-control", value=product.status)}}<br>
        <br>{{form.submit(class="btn btn-primary", value="Update")}}
        
    </form>


</div>


{% endblock%}