{% extends "base.html" %}
{% block content %}

    <div align ="center" class="jumbotron">
        {% if current_user.is_authenticated %}
            <h1>Hi {{current_user.username}}!</h1>
            <p>Good to see you again.</p>
        {% else %}

            <h1>Welcome!</h1>
            <p>Plaese login or register.</p>
            <a class="btn btn-primary" href="{{url_for('users.login')}}">Login</a>
            <a class="btn btn-primary" href="{{url_for('users.register')}}">Register</a>
        {% endif %}
        
    </div>

{% endblock%}

