{% extends "base.html" %}
{% block content %}
<div class="container" align="center">
    <h1>Reset password</h1>
    <br>
    <form method="post">
        {{form.hidden_tag()}} 
        {{form.email(type ="hidden")}}<br>
        {{form.username(type ="hidden")}}
        <label for="">New password</label><br>{{form.password}}<br>
        {{form.password_confirmation.label}}<br>{{form.password_confirmation}}<br>
        <br>{{form.submit(class="btn btn-primary", value ="Reset password")}}
        
    </form>
    <br>
    {% if msg != "" %}
    <div class="alert alert-success" role="alert">
        {{msg}}
    </div>
    {% endif %}
    

</div>

{% endblock %}


