{% extends "base.html" %}
{% block content %}

<div class="container" >
    <h1>My tasks</h1>
    <a href="{{url_for('tasks.tasks')}}" type="button" class="btn btn-outline-success btn-sm" >Create new task</a>
    <br>

    <br>



    {% for task in tasks %}

    {% if task.status == "Done" %}
    <div class="card" style="margin-bottom: 1em;">
        <div class="card-header">
          
        </div>
        <div class="card-body" style="background-color: #ecfdec;">
          <blockquote class="blockquote mb-0">
            <p>{{task.task}}</p>
            <footer class="blockquote-footer"> {{task.status}}
                <div style="display:inline; margin-left:1em">
                <a href="{{url_for('tasks.delete_task', id=task.id)}}" type="button" class="btn btn-outline-danger btn-sm" >Delete</a>
                <a href="{{url_for('tasks.task_waiting', id=task.id)}}" type="button" class="btn btn-outline-dark btn-sm" >Mark as waiting</a>
            </div>
            </footer>

          </blockquote>
        </div>
      </div>
      {% else %}
    
    
    <div class="card" style="margin-bottom: 1em;">
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{task.task}}</p>
            <footer class="blockquote-footer"> {{task.status}}
                <div style="display:inline; margin-left:1em">
                <a href="{{url_for('tasks.delete_task', id=task.id)}}" type="button" class="btn btn-outline-danger btn-sm" >Delete</a>
                <a href="{{url_for('tasks.task_done', id=task.id)}}" type="button" class="btn btn-outline-success btn-sm" >Mark as done</a>
            
            </div>
                
                
            </footer>
          </blockquote>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <br>
      <hr>
      <br>
      <h1>My Products</h1>

      <a href="{{url_for('products.new_product')}}" type="button" class="btn btn-outline-success btn-sm" >Create new product</a>
    <a href="{{url_for('products.products')}}" type="button" class="btn btn-outline-success btn-sm" >All products</a><br>
    
      

    
    <div>
        <br>
    </div>
   
    {% for product in products %}
    
    <div class="card">
            
        <h5 class="card-header"><a href="{{url_for('products.product', name=product.name, id=product.id)}}">{{product.name}}</a></h5>
        <div class="card-body">
            <img style="border-radius: 10px;" src={{product.main_photo}} alt="" width="100px">
          <h5 class="card-title"> </h5>
          <p class="card-text"><strong>Part ID:</strong> {{product.part_id}}</p>
          <p class="card-text"><strong>Description:</strong> {{product.description}}</p>
          <p class="card-text"><strong>Owner:</strong> {{product.user_id}}</p>
          <p class="card-text"><strong>Status:</strong> {{product.status}}</p>
          <a href="{{url_for('products.product', name = product.name, id = product.id)}}" class="btn btn-outline-dark">View more</a>
          {% if current_user.id == product.user_id %}
          <a href="{{url_for('products.edit_product', id=product.id)}}" class="btn btn-outline-dark">Edit</a>
          <a href="{{url_for('products.remove_product', id=product.id)}}" class="btn btn-outline-danger">Remove</a>
          {% endif %}
          

        </div>
      </div>
      <br>
          {% endfor %}
          
 







</div>

{% endblock%}